<div class="jumbotron">
	<h1>Welcome to My App</h1>
	<p>This is my really fucking cool app. So... Sign Up Already!</p>

<%= link_to "Click Here To Sign Up", "#", class: "btn btn-primary btn-lg" %>
</div>