<div class="jumbotron center">
	<h1>You Want Something Awesome, I Want To Build It</h1>
	<p>Nothing gives me more joy than building awesome things for family, friends, and clients. If you've come across something online that you've got to have... Share it with me here!</p>

	<% if user_signed_in? %>
		#do something
	<% else %>
		<p>
	       <%= link_to "Sign in", new_user_session_path, class: "btn btn-default btn-lg" %>
	       <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	  	</p> 

	<% end %>
</div>